
@media only screen and (max-width: 600px) {

    /* Affichage sur telephone*/
    body{
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      background-color: #87ceeb;
    }
  
  
    h1{
      color: white;
      text-align: center;
      font-weight: 900;
      font-size: 100px;
    }
    .container{
      position: relative;
    
    }
    
   #ville,#input{
      margin: 10px 0px 0px 30px;
      font-size: 25px;
    }
    #button{
      margin: 20px 0px 0px 130px;
      font-size: 20px;
      border-radius: 19px;
      background-color: white;
      height: 33px;
      width: 121px;
      border: 1 px solid white;
      
    }
    #info{
      margin:50px 0px 0px 45px;
      font-size: 40px;
      font-weight: 900;
      border-radius: 20px;
      width: 300px;
      color: white;
      width: 300px;
      height: 438px;
      border-radius: 19px;

    }
    input{
      width: 317px;
      height: 53px;
      text-align: center;
    }
    
  }
  @media only screen and (min-width: 768px) {
    /* Affichage sur tablette*/
    body{
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      background-color: #87ceeb;
    }
  
    
    
  
    h1{
      color: white;
      text-align: center;
      font-size: 100px;
    }
    .container{
      position: relative;
      top: 100px;
    }
    
   #ville{
      margin: 10px 0px 0px 10px;
      font-size: 50px;
    }
    #button{
      position: relative;
      top: 50px;
      font-size: 40px;
      margin: 0px 0px  0px 200px;
      background-color: white;
      border-radius: 50px;
      width: 469px;
      height: 100px;
      border-radius: 19px;
  
      
    }
  
    #info{
      margin:130px 0px 0px 150px;
      font-size: 70px;
      font-weight: 900;
      width: 50%;
      color: white;
    }
    input{
      text-align: center;
      width: 648px;
      height: 101px;
      position: relative;
      left: 50px;
    }
    
  }
  
  @media only screen and (min-width: 884px) {
    /* Affichage sur ordinateur*/
  
    body{
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      background-color: skyblue;
    }

  
    h1{
      color: white;
      text-align: center;
  
    }
    .container{
      position: relative;
      
    
    }
    
   #ville{
      margin: 10px 0px 0px 300px;
  
    }
    #button{
      position: relative;
      top: 40px;
      font-size: 30px;
      margin: 0px 0px  0px 300px;
      background-color: white;
      border-radius: 50px;
      width: 764px;
      height: 100px;

  
      
    }
  
    #info{
      margin:130px 0px 0px 500px;
      font-size: 70px;
      font-weight: 900;
      width: 50%;
      color: white;
    }
    
  }
  